<section id="recent-articles">
  <div id="recent-articles-header">
    <div id="recent-articles-title">
      <h1 class="card-title">Recent Articles</h1>
    </div>
    <div id="recent-articles-show-all">
      <a class="btn btn-lg btn-dark" href="/blog"> View All </a>
    </div>
  </div>
  <br />

  <ul>
    {% for post in site.posts limit:15 %}
    <li class="article-card">
      <a href="{{post.url}}" class="article-card-link">
        <div id="article-container">
          <div id="article-img">
            {% if post.thumbnail %}
               <img
                src="{{ site.url }}{{ post.thumbnail }}"
                width="50px"
                height="50px"
             />
            {% else %}
            <img
              src="{{ site.url }}{{ site.squaredefault }}"
              width="50px"
              height="50px"
          />
            {% endif %}

          </div>
          <div id="article-link">
              <p class="recent-article-link">{{post.title}} <span style="color: #ccc; font-size: 15px;"> - <i><time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></i></span></p>
            </div>
            <div id="article-alert">
            {% for cat in post.category limit:3 %}
             <button class="btn btn-sm btn-dark">{{cat}}</button>
            {% endfor %}
            </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">About {{site.author}}</div>
      <div class="card-body">
        <p class="author_bio">{{ site.author_bio }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Categories</div>
      <div class="card-body text-dark">
        {%- include blog_categories.html -%}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Useful Links</div>
      <div class="card-body text-dark">
        {% for i in site.urls %}
        <li>
          <a href="{{ site.url}}{{site.baseurl}}{{ i.url }}">{{ i.text }}</a>
        </li>
        {% endfor %}
      </div>
    </div>
  </div>
</div>