---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<body>
        {%- include header.html -%}
        <div class="main-container">
            {{ content }}
        </div>
        <div id="scroll-arrows">
          <button id="scroll-top" class="scroll-arrow" aria-label="Scroll to top">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
          </button>
          <button id="scroll-bottom" class="scroll-arrow" aria-label="Scroll to bottom">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </button>
        </div>
        {%- include footer.html -%}
     <script>
            var options = {
                classname: 'progressline',
                id: 'my-id'
            };
            var nanobar = new Nanobar( options );
            nanobar.go( 30 );
            nanobar.go( 76 );
            nanobar.go(100);
        </script>


   <script src="{{site.url}}{{site.baseurl}}/assets/js/scroll-arrows.js?v={{ site.time | date: '%s' }}"></script>
  </body>
</html>